{% load static %}

<div class="row question-panel">
    <div class="card col-12 ">
        <div class="user-question col-2">
            <div class="row justify-content-center">
                <div class="user-img">
                    <img src="{% static "user_avatars/User_Avatar.png" %}"/>
                </div>
            </div>
            <div class="row justify-content-center rating">
                <div class="btn-group btn-group-sm" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-outline-danger">-</button>
                    <button type="button"
                            class="btn btn-outline-info disabled">{{ question.rating }}</button>
                    <button type="button" class="btn btn-outline-success">+</button>
                </div>
            </div>
        </div>
        <div class="question-container col-10 offset-2">
            <a href="#">
                <h5 class="card-title">{{ question.title }}</h5>
            </a>
            <div class="row">
                <div class="card-text">
                    {{ question.text }}
                </div>
            </div>
            <div class="row">
                <div class="answers d-inline">
                    <a href="#">answers({{ question.answers }})</a></li>
                </div>
                <div class="d-inline">
                    Tags:
                    {% for tag in question.tags %}
                        <a class="tag" href="#" role="">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
